* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f1f1f1;
}
.producthr {
    clear: both;
    border-bottom: 1px solid #f2f2f2;
    line-height: 0;
    font-size: 1px;
}

#leftcol {
    float: left;
    width: 582px;
}

#leftcol .headline {
    height: 30px;
    font: 15px Arial,sans-serif;
    padding-top: 5px;
    padding-left: 13px;
}

#leftcol .headlineright {
    height: 30px;
    text-align: right;
    font: 15px Arial,sans-serif;
    padding-top: 5px;
    padding-right: 40px;
    background-image: url('/gfx/headline_right.png');
    background-repeat: no-repeat;
}

#leftcol .headlineright a {
    color: #282828;
    text-decoration: none;
}

#leftcol .fancyhr {
    height: 30px;
    background-image: url('/gfx/leftcol_fancy_hr.png');
    background-repeat: no-repeat;
}

#leftcol .content {
    margin: 10px;
}

#leftcol .content h1 {
    font: 18px Tahoma,sans-serif;
    font-weight: 700;
    margin: 0px;
}
#leftcol .content h2 {
    font: 13px Tahoma,sans-serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0px;
}
#leftcol .content p,li,td,th {
    font: 13px Arial,sans-serif;
    color: #282828;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}