body {
    margin: 0;
    font-family: Arial, Helvetica;
    background-color: #f2f2f2;
}

.test{

    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    ;
}
.btn {
    background-color: white;
    border: 1px;
    color: black;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px; /* https://www.w3schools.com/css/css3_borders.asp */
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.delete{
    background-color: red;
}
.yes{
    background-color: green;
}
.details{
    background-color: lightblue;
}

.btn-details {
    background-color: #17a2b8!important;
    color: black;
}

.btn-update {
    background-color: #4cae4c!important;
    color: #122b40;
}

.box1 {
    background: #ddd;
    padding: 20px;
    padding-top: 0px;
    border: 2px;
    border-radius: 10px;
    border-style: solid;
    font-size: large;
}
.container {
    width: 50%;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
    display: grid;
    font-size: 20px;
}

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    font-size: 20px;
}
table thead th { border-bottom: 1px solid #000; }



.box1b {
    background: #f2f2f2;
    padding: 20px;
    padding-top: 0px;
    border: 2px;
    border-radius: 10px;
    border-style: solid;
}

.link1 {
    text-decoration: none;
    color: steelblue;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #5F9EA0;
    color: white;
}
.log-out a{
    float: right;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 25px;
    background-color: red;
}
.log-in{
    padding: 10px 15px;
    display:block;
    background-color: #253e91;
    color: white;
    align: left;
    margin-left: 93%;
    margin-top: 1%;
    margin-right: 1%;
}

.btn-group button {
    background-color: #253e91; /* Green background */
    border: 2px solid #ffad10; /* Green border */
    color: white; /* White text */
    padding: 5px 5px; /* Some padding */
    font-size: 22px;
    text-align: -moz-center;
    align-content: center;
    cursor: pointer; /* Pointer/hand icon */
    width: 20%; /* Set a width if needed */

    top: 50%;
        /* Make the buttons appear below each other */
}

.wrapper{
    text-align: center;
}
.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #436e70;
}


.label {
    color: white;
    padding: 1px;
    font-family: Arial

}

.date {background-color: #404040;
    color: white;
    border: 1px solid black;
    font-size: 20px;
    width: 100%;


}

h1{
    font-size: 40px;
}

.blocksmall {
    display: block;
    width: 20%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.blocksmall:hover {
    background-color: #ddd;
    color: black;
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: #ddd;
    color: black;
}
.
* {
    box-sizing: border-box;
}
/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/