<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

    <th:block th:include="fragment/nav :: nav"></th:block>


    <div align="center" class="container">
        <h1>Customers</h1>
        <table style="width: 70%">

            <thead>
            <th style="width: 15%">Kunde id</th>
            <th style="width: 15%">Navn</th>
            <th style="width: 15%">Efternavn</th>
            <th style="width: 15%">Telefon nummer</th>
            <th style="width: 15%">E-mail</th>
            <th style="width: 15%">Lokation</th>
            <th style="width: 15%">Postnummer</th>
            <th style="width: 15%">kørepakke</th>
            <th style="width: 15%">Lokation</th>
            <th style="width: 15%">Dato tilføjet</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${customer}">
                <td th:text="${customer.customer_id}"></td>
                <td th:text="${customer.first_name}"></td>
                <td th:text="${customer.last_name}"></td>
                <td th:text="${customer.phone_number}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.city}"></td>
                <td th:text="${customer.zipcode}"></td>
                <td th:text="${customer.course}"></td>
                <td th:text="${customer.location}"></td>
                <td th:text="${customer.signup_date}"></td>

            </tr>

            </tbody>
        </table>

        <h1>Create new Customer</h1>
        <form method="post" action="/addcustomer">
            <input type="hidden" name="customer_id" value="0">
            <input type="text" name="first_name" placeholder="First name">
            <input type="text" name="last_name" placeholder="Last name">
            <input type="text" name="phone_number" placeholder="Phone number">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="city" placeholder="By">
            <input type="text" name="zipcode" placeholder="postnummer">
            <input type="text" name="course" placeholder="Kørepakke"><br>
            <input type="radio" name="location" value="Amager"><label>Amager</label>
            <input type="radio" name="location" value="København"><label>København</label><br>
            <input type="radio" name="location" value="Søborg"><label>Søborg</label>
            <input type="radio" name="location" value="Århus"><label>Århus</label><br>
            <input type="submit" value="Opret ny kunde" class="btn btn-create">
        </form>
        <a th:href="@{'/'}">
            <button class="btn btn-ed">Back</button>
        </a>
    </div>

</body>
</html>