<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/addcustcss.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

    <th:block th:include="fragment/nav :: nav"></th:block>

    <div class="container">
        <form method="post" action="/addcustomer">
            <div class="row">
                <div class="col-25">
                    <label for="custId"></label>
                </div>
                <div class="col-75">
                    <input type="hidden" id="custId" name="customer_id" value="0">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="fname">First Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="first_name" placeholder="First name">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Last Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lname" name="last_name" placeholder="Last name">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="pnumber">Phone number</label>
                </div>
                <div class="col-75">
                    <input type="text" id="pnumber" name="phone_number" placeholder="Phone number">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="email">E-mail</label>
                </div>
                <div class="col-75">
                    <input type="text" id="email" name="email" placeholder="Your e-mail">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="city">City</label>
                </div>
                <div class="col-75">
                    <input type="text" id="city" name="city" placeholder="City">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="zipcode">Zip code</label>
                </div>
                <div class="col-75">
                    <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="course">Course</label>
                </div>
                <div class="col-75">
                    <select id="course" name="course">
                        <option value="København">København</option>
                        <option value="Søborg beach">Søborg beach</option>
                        <option value="Århus">Århus</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="location">Lokation</label>
                </div>
                <div class="col-75">
                    <input type="text" id="location" name="location" placeholder="Location">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="signup">Signup date</label>
                </div>
                <div class="col-75">
                    <input type="date" id="signup" name="signup_date" placeholder="Signup ip date">
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit" style="margin-right: 50px">
                <a th:href="@{'/'}">
                    <button class="btn btn-ed">Back</button>
                </a>
            </div>

        </form>
    </div>

</body>
</html>