<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<th:block th:include="fragment/nav :: nav"></th:block>

<div class="box1">

    <table style="font-size: 150%">

        <thead>
        <tr>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Kørepakke</th>
            <th>Køreskole</th>
            <th>Dato</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="Customer: ${customer}">
            <td th:text="${Customer.first_name}"/>
            <td th:text="${Customer.last_name}"/>
            <td th:text="${Customer.course}"/>
            <td th:text="${Customer.location}"/>
            <td th:text="${Customer.signup_date}"/>
            <td>
                <a th:href="@{'delete?customer_id='+${Customer.customer_id}}">
                    <button class="btn delete">Delete</button>

                </a>
                <a th:href="@{editcustomer?customer_id='+${Customer.customer_id}}">
                    <button class="btn-update">Update</button>
                </a>
            </td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>