<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<th:block th:include="fragment/nav :: nav"></th:block>

<div class="box1">
    <form method="post" action="/activities2">
        <label>Søg</label>
        <input type="text" name = "name" style="width: 800px" onkeyup="myFunction()" id="myInput">
        <input type="submit" value="Search" class="btn btn-create" style="width: 150px"><a href="/adminmenu"></a>
    </form>
    <table id="myTable" style="font-size: 150%; text-align: center">

        <thead>
        <tr>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Kørepakke</th>
            <th>Køreskole</th>
            <th>Dato</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="Customer: ${customer}">
            <td th:text="${Customer.first_name}"/>
            <td th:text="${Customer.last_name}"/>
            <td th:text="${Customer.course}"/>
            <td th:text="${Customer.location}"/>
            <td th:text="${Customer.signup_date}"/>
            <td>
                <a th:href="@{'delete?customer_id='+${Customer.customer_id}}">
                    <button class="btn delete">Slet</button>

                </a>
                <a th:href="@{'editcustomer?customer_id='+${Customer.customer_id}}">
                    <button class="btn yes">Opdater</button>
                </a>

                <a th:href="@{'details?customer_id='+${Customer.customer_id}}">
                    <button class="btn details">Detaljer</button>
                </a>
            </td>

        </tr>
        </tbody>
    </table>

</div>
<script>
    // filter table by customer name
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>

</body>
</html>