<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>



<div id="leftcol">
<div class="box1">
    <div class="box1b">
        <div class="card">
            <h3>Amager - ved Amager Centeret</h3>
            <p> Blekingegade 4</p>
            <p>13000 kr</p>
            <p>
                 <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>

    <div class="box1b">
        <div class="card">
            <h3>Brønshøj - ved Bellahøj badet</h3>
            <p>Frederikssundvej 116</p>
            <p>13299 kr</p>
            <p>
                <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>

    <div class="box1b">
        <div class="card">
            <h3>Frederiksberg</h3>
            <p>Hostrupvej 6</p>
            <p>9000 kr</p>
            <p>
                <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>

    <div class="box1b">
        <div class="card">
            <h3>Gentofte</h3>
            <p>Baunegårdsvej 6</p>
            <p>10000 kr</p>
            <p> <!-- Her skal der være link til en ny side som ved hvilke oplysninger der skal smides ind i databasen,
             i forhold til hvad kunden har valgt -->
                <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>
    <div class="box1b">
        <div class="card">
            <h3>Glostrup</h3>
            <p>Stationsperken 20</p>
            <p>10000 kr</p>
            <p> <!-- Her skal der være link til en ny side som ved hvilke oplysninger der skal smides ind i databasen,
             i forhold til hvad kunden har valgt -->
                <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>
    <div class="box1b">
        <div class="card">
            <h3>Søborg</h3>
            <p>Søborg Hovedgade 38 A </p>
            <p>10000 kr</p>
            <p> <!-- Her skal der være link til en ny side som ved hvilke oplysninger der skal smides ind i databasen,
             i forhold til hvad kunden har valgt -->
                <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>
    <div class="box1b">
        <div class="card">
            <h3>Århus</h3>
            <p>Thorvaldsensgade 32</p>
            <p>10000 kr</p>
            <p> <!-- Her skal der være link til en ny side som ved hvilke oplysninger der skal smides ind i databasen,
             i forhold til hvad kunden har valgt -->
                <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>
    <div class="box1b">
        <div class="card">
            <h3>Ørestad</h3>
            <p>Ørestads Boulevard 61</p>
            <p>10000 kr</p>
            <p> <!-- Her skal der være link til en ny side som ved hvilke oplysninger der skal smides ind i databasen,
             i forhold til hvad kunden har valgt -->
                <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>
</div>
</div>

</body>
</html>