<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="row">
    <div class="column">
        <div class="card">
            <h3>Kørekort 1</h3>
            <p> Amager - Ved Amager centeret</p>
            <p>13000,-</p>
            <p>
                 <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Kørekort 2</h3>
            <p>Brønshøj - Ved Bellahøj badet</p>
            <p>Some text</p>
            <p>
                <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Kørekort 3</h3>
            <p>Frederiksberg</p>
            <p>9000,-</p>
            <p>
                <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Kørekort 4</h3>
            <p>Gentofte</p>
            <p>10000,-</p>
            <p> <!-- Her skal der være link til en ny side som ved hvilke oplysninger der skal smides ind i databasen,
             i forhold til hvad kunden har valgt -->
                <button type="button" style="float:right; position: relative; top:-15px">Bestil</button>
            </p>
        </div>
    </div>
</div>

</body>
</html>