<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
</head>
<body class="color">
    <div class="box1">
        <h2>Er du sikker på at du vil slette</h2>
        <form action="#" th:action="@{/delete}" method="post">
            <p th:text="${customer.first_name + ' ' +  customer.last_name}"></p>
            <input type="hidden" th:field="${customer.customer_id}"/>
            <input type="submit" value="JA" class="btn btn-send noYes"/>
            <a href="/adminmenu" class="btn btn-del noYes">NEJ</a>
        </form>
    </div>
</div>
</body>
</html>