<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til TipTop trafik</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>hej
<h1 align="center">Her kan du bestille kørekort</h1>
<a class="btn-group"th:href="@{/courses}">
<button type="button" style="float: inherit">Bestil</button>
</a>
</body>
</html>