<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilføj lokation</title>
</head>
<body>

<form method="post" action="/addcustomer">
    <input type="radio" name="location" value="Amager">
    <input type="radio" name="location" value="København">
    <input type="radio" name="location" value="Søborg">
    <input type="radio" name="location" value="Århus">
    <button type="submit" class="btn btn-create" formaction="/addcustomer">næste</button>
</form>
<a th:href="@{'/'}">
    <button class="btn btn-ed">Back</button>
</a>

</body>
</html>