<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>

<form name="login">
    Brugernavn<input type="text" name="userid"/>
    Kode<input type="password" name="pswrd"/>
    <input type="button" onclick="check(this.form)" value="Login"/>
    <input type="reset" value="Cancel"/>
</form>
<script language="javascript">
    function check(form)/*function to check userid & password*/
    {
        /*the following code checkes whether the entered userid and password are matching*/
        if(form.userid.value == "admin" && form.pswrd.value == "123")
        {
            window.open('/')/*opens the target page while Id & password matches*/
        }
        else
        {
            alert("Error Password or Username")/*displays error message*/
        }
    }
</script>
</body>
</html>