<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/paymentcss.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
</head>
<body class="bodypayment">

<h2>Betaling</h2>
<div class="rowpayment">
    <div class="col-75">
        <div class="containerpayment">
            <form action="/payment">
                <div class="col-50">
                    <label for="cname">Name on card</label>
                    <input type="text" id="cname" name="cardname" placeholder="Name">
                    <label for="ccnum">Credit card number</label>
                    <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                    <label for="expmonth">Expiration date</label>
                    <input type="month" id="expmonth" name="expmonth" placeholder="Month">
                    <div class="rowpayment">
                        <div class="col-50">
                            <label for="cvv">CVV</label>
                            <input type="number" id="cvv" name="cvv" placeholder="123">
                        </div>
                    </div>
                </div>


            </form>
        </div>
        <div class="wrapper">
            <a class="btn-group"th:href="@{/checkout}">
                <button type="button" style="font-size: 40px"><Betal>Betal</Betal></button>
            </a>


        </div>
        <a th:href="@{'/courses'}">
            <button type="button" class="btn btn-ed" style="margin-top: 25px">Tilbage</button>
        </a>


    </div>
</div>

</body>

</html>