<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/paymentcss.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
</head>
<body class="bodypayment">

<h2>Betaling</h2>
<div class="rowpayment">
    <div class="col-75">
        <div class="containerpayment">
            <form action="/payment">
                <div class="col-50">
                    <div class="icon-container">
                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                    </div>
                    <label for="cname">Name on Card</label>
                    <input type="text" id="cname" name="cardname" placeholder="Navn">
                    <label for="ccnum">Credit card number</label>
                    <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                    <label for="expmonth">Exp Month</label>
                    <input type="text" id="expmonth" name="expmonth" placeholder="September">
                    <div class="rowpayment">
                        <div class="col-50">
                            <label for="expyear">Exp Year</label>
                            <input type="text" id="expyear" name="expyear" placeholder="2018">
                        </div>
                        <div class="col-50">
                            <label for="cvv">CVV</label>
                            <input type="text" id="cvv" name="cvv" placeholder="352">
                        </div>
                    </div>
                </div>

        </div>
        <div class="wrapper">
            <a class="btn-group"th:href="@{/checkout}">
                <button type="button" style="font-size: 40px">Betal</button>
            </a>
        </div>

        </form>

    </div>
</div>

</body>

</html>